/*
    Components: Brand
    ---
    Brand image/logo
*/

 $logo-horizontal-ratio:     2.630;
 $logo-horizontal-height:    $alpha-line-height * 3;
 $logo-horizontal-width:     $logo-horizontal-height * $logo-horizontal-ratio;

.c-logo {
    display: block;
    height: #{$logo-horizontal-height}px;
    width: #{$logo-horizontal-width}px;
    @include margin-bottom($alpha-leading);
}

    .c-logo__link {
        display: block;
    }

    .c-logo__path {
        fill: palette(color-neutral,xxx-dark);
    }
