/*
    Components: Row
    ---
    Creates a horizontal row with padding
*/

.c-row {
    @include padding-tb($alpha-leading,0);
    @include padding-lr($columns-gutter,$columns-gutter);
}

.c-row--empty {
    padding: 0;

    .o-container {
        max-width: none;
    }
}

.c-row--alpha {
    background-color: palette(color-neutral,xxxx-light);
}

.c-row--beta {
    color: palette(color-neutral,light);
    background-color: palette(color-neutral,xxx-dark);
}
